<p>content-list works!</p>
<input [(ngModel)]="name"> My name is: {{ name | uppercase }}
<p>My lowercase name is {{ name | lowercase }}</p>
<!-- <div class="contentItem" style="border:black;border-width:2px;border-style:solid;">
    <h1>The Godfather Part 2</h1>
    <p>Description: The compelling sequel to "The Godfather," contrasting the life of Corleone father and son. Traces the problems of Michael Corleone (Al Pacino) in 1958 and that of a young immigrant Vito Corleone (Robert De Niro) in 1917s Hells Kitchen. Michael survives many misfortunes and Vito is introduced to a life of crime.</p>
    <p>Creator: Francis Ford Coppola</p>
    <p>Genre: Crime</p>
    <p>Should be obivous enough as to why this one is here</p>
    <p>Release Date: 1974</p>
</div>
<div class="contentItem2" style="border:black;border-width:1px;border-style:solid;">
    <h1>The Hunt</h1>
    <p>Description: A kindergarten teachers (Mads Mikkelsen) world collapses around him after one of his students (Annika Wedderkopp), who has a crush on him, implies that he committed a lewd act in front of her.</p>
    <p>Creator: Thomas Vinterberg</p>
    <p>Genre: Drama</p>
    <p>This one is probably my favourite movie out of the three</p>
    <p>Release Date: 2012</p>
</div>
<div class="contentItem3" style="border:black;border-width:1px;border-style:solid;">
    <h1>Sunset Boulevard</h1>
    <p>Description: An aging silent film queen refuses to accept that her stardom has ended. She hires a young screenwriter to help set up her movie comeback. The screenwriter believes he can manipulate her, but he soon finds out he is wrong. The screenwriters ambivalence about their relationship and her unwillingness</p>
    <p>Creator: Bily Wilder</p>
    <p>Genre: Drama</p>
    <p>Good movie</p>
    <p>Release Date: 1950</p>
</div>
<div class="contentItem4" style="border:black;border-width:1px;border-style:solid;">
    <h1>American Psycho</h1>
    <p>Description: In New York City in 1987, a handsome, young urban professional, Patrick Bateman (Christian Bale), lives a second life as a gruesome serial killer by night. The cast is filled by the detective (Willem Dafoe), the fiance (Reese Witherspoon), the mistress (Samantha Mathis), the coworker (Jared Leto), and the secretary (Chloë Sevigny). This is a biting, wry comedy examining the elements that make a man a monster.</p>
    <p>Creator: Mary Harron</p>
    <p>Genre: Horror/Comedy</p>
    <p>A modern day classic</p>
    <p>Release Date: 2000</p>
</div>
<div class="contentItem5" style="border:black;border-width:1px;border-style:solid;">
    <h1>Blow Out</h1>
    <p>Description: While recording sound effects for a slasher flick, Jack Terri (John Travolta) stumbles upon a real-life horror: a car careening off a bridge and into a river. Jack jumps into the water and fishes out Sally (Nancy Allen) from the car, but the other passenger is already dead -- a governor intending to run for president. As Jack does some investigating of his tapes, and starts a perilous romance with Sally, he enters a tangled web of conspiracy that might leave him dead.</p>
    <p>Creator: Brian De Palma</p>
    <p>Genre: Thriller/Mystery</p>
    <p>Good movie</p>
    <p>Release Date: 1981</p>
</div>
<div class="contentItem6" style="border:black;border-width:1px;border-style:solid;">
    <h1>No Country For Old Men</h1>
    <p>Description: While out hunting, Llewelyn Moss (Josh Brolin) finds the grisly aftermath of a drug deal. Though he knows better, he cannot resist the cash left behind and takes it with him. The hunter becomes the hunted when a merciless killer named Chigurh (Javier Bardem) picks up his trail. Also looking for Moss is Sheriff Bell (Tommy Lee Jones), an aging lawman who reflects on a changing world and a dark secret of his own, as he tries to find and protect Moss.</p>
    <p>Creator: Joel Coen, Ethan Coen</p>
    <p>Genre: Western</p>
    <p>Consistently compelling and entertaining throughout</p>
    <p>Release Date: 2007</p>
</div> -->
<app-content-card *ngFor="let content of (myContentArray | movies)" [content]="content"></app-content-card>