<p>content-list works!</p>

<h1>contentItem</h1>
<app-content-card *ngFor="let content of myContentArray" [content]="content"></app-content-card>
<app-content-card [content]="contentItem" style="border-width: 1px;"></app-content-card>
<app-content-card [content]="contentItem2" style="border-width: 1px;"></app-content-card>
<app-content-card [content]="contentItem3" style="border-width: 1px;"></app-content-card>
<app-content-card [content]="contentItem4" style="border-width: 1px;"></app-content-card>
<app-content-card [content]="contentItem5" style="border-width: 1px;"></app-content-card>
<app-content-card [content]="contentItem6" style="border-width: 1px;"></app-content-card>