<p>{{content.body}}</p>

<p>{{contentItem.id}}</p>
<p>{{contentItem.title}}</p>
<p>{{contentItem.description}}</p>
<p>{{contentItem.creator}}</p>
<p>{{contentItem.genre}}</p>
<p>{{contentItem.body}}</p>
<p>{{contentItem.releaseDate}}</p>
<!-- <img src={{contentItem.imgUrl}}> -->

<p>{{contentItem2.id}}</p>
<p>{{contentItem2.title}}</p>
<p>{{contentItem2.description}}</p>
<p>{{contentItem2.creator}}</p>
<p>{{contentItem2.genre}}</p>
<p>{{contentItem2.body}}</p>
<p>{{contentItem2.releaseDate}}</p>

<p>{{contentItem3.id}}</p>
<p>{{contentItem3.title}}</p>
<p>{{contentItem3.description}}</p>
<p>{{contentItem3.creator}}</p>
<p>{{contentItem3.genre}}</p>
<p>{{contentItem3.body}}</p>
<p>{{contentItem3.releaseDate}}</p>

{{processContent()}}
