<div class="contentCard">
    <div appHoverAffect>{{content.id}}</div>
    <h1 appHoverAffect>{{content.title}}</h1>
    <div appHoverAffect>{{content.description}}</div>
    <div appHoverAffect>{{content.creator}}</div>
    <div appHoverAffect [affectName]="'underline'">{{content.genre}}</div>
    <div *ngIf="content.body" appHoverAffect>
        {{content.body}}
    </div>
    <div appHoverAffect [affectName]="'bold'">{{content.releaseDate}}</div>
    <img src="{{content.imgUrl}}" style="width:200px;">
</div>

<!-- <img src={{contentItem.imgUrl}}> -->
